/* *common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
   display: inline-block;
   margin: 15px auto 10px 700px;
}
h1 {
    text-align: center;
    color: white;
}
/* *common css ends */
body {
    background: linear-gradient(to right, #5a3f37, #2c7744); 
}
/* *nav starts here */
nav {
    background-color: white;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    position: relative;   
}
nav ul li a {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: 15px 35px;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li :hover {
    background-color: lightgreen;
}

/* *Submenu start here */
nav .submenu {
    position: absolute;
    background-color: beige;
    width: 200px;
    text-align: left;
    margin-top: 50px;
    opacity: 0; 
    visibility: hidden;
    transition: 0.5s;
   
}

nav .submenu li {
    display: block;
}

nav ul li:hover> .submenu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

nav .submenu .submenu {
    left: 100%;
    top: 0;
}
nav .submenu li:hover> a {
    margin-left: 10px;
}
nav .submenu a {
    border-bottom: 1px solid black;
    display: block;
    transition: 0.5s;
}
div img {
   margin: 10px 650px 20px 200px;
}
    

